# All rules apply to the main branch only

# Base rules
/.github/workflows/release.yml @oseongkwon1
/.github/workflows/deployment.yml @oseongkwon1
/.github/CODEOWNERS @oseongkwon1

# Custom rule for leaders
* @hokyunR
!/.github/workflows/release.yml @hokyunR
!/.github/CODEOWNERS @hokyunR
