# All rules apply to the main branch only

# Base rules
**/release.yml @oseongkwon1
**/deployment.yml @oseongkwon1
**/CODEOWNERS @oseongkwon1

# Custom rule for leaders
!**/release.yml @hokyunR
!**/CODEOWNERS @hokyunR
